@page "/Error"
@model ErrorModel
@namespace Yarpa.Dashboard.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>שגיאה</title>
</head>
<body>
    <h1>שגיאה</h1>
    <p>אירעה שגיאה בלתי צפויה. אנא נסה שוב.</p>
</body>
</html>
